### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Spring Boot ###
*.original
spring-boot-*.log

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Loguri ###
logs/
*.log

### Sistem de operare ###
.DS_Store
Thumbs.db

### Variabile de mediu / secrete (nu urca parole!) ###
.env
*.env.local

### Build / compilate ###
*.class
build/
!gradle/wrapper/gradle-wrapper.jar
